<div>
  <div>
    <h1>
      Feed
    </h1>
  </div>
</div>

<hr>

<div>
  <div>
    <h2>
      Add Landlord
    </h2>

    <form action="/insert_landlord" method="post">
      <div>
        <label for="name_box">
           Landlord Name
        </label>

        <input type="text" id="name_box" name="query_name" placeholder="Enter Landlord...">
      </div>

      <div>
        <label for="neighborhood_box">
          Neighborhood
        </label>

        <input type="text" id="neighborhood_box" name="query_neighborhood" placeholder="Enter Neighborhood...">
      </div>

      <div>
        <label for="address_box">
          Address
        </label>

        <input type="text" id="address_box" name="query_address" placeholder="Enter Address...">
      </div>

      <div>
        <label for="state_box">
          State
        </label>

        <input type="text" id="state_box" name="query_state" placeholder="Enter State...">
      </div>

      <div>
        <label for="postal_code_box">
          Zip code
        </label>

        <input type="text" id="postal_code_box" name="query_postal_code" placeholder="Enter Zip Code...">
      </div>

      <div>
        <label for="latitude_box">
          Latitude
        </label>

        <input type="text" id="latitude_box" name="query_latitude" placeholder="Enter Latitude...">
      </div>

      <div>
        <label for="longitude_box">
          Longitude
        </label>

        <input type="text" id="longitude_box" name="query_longitude" placeholder="Enter Longitude...">
      </div>

      <div>
        <label for="stars_box">
          Rating Stars
        </label>

        <input type="text" id="stars_box" name="query_stars" placeholder="Enter Stars...">
      </div>

      <div>
        <label for="browser_caption">Caption</label>

        <textarea id="browser_caption" name="query_caption" placeholder="Enter a caption for the Rating..."></textarea>
      </div>


      <button>
        Create landlord
      </button>
    </form>
  </div>
</div>

<hr>
<div>
  <div>
    <table border="1">
      <tr>
        <th>
          ID
        </th>

        <th>
          Name
        </th>

        <th>
          Neighborhood
        </th>

        <th>
          Address
        </th>

        <th>
          State
        </th>

        <th>
          Postal code
        </th>

        <th>
          Latitude
        </th>

        <th>
          Longitude
        </th>

        <th>
          Stars
        </th>

        <th>
          Review count
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_landlords.each do |a_landlord| %>
      <tr>
        <td>
          <%= a_landlord.id %>
        </td>

        <td>
          <%= a_landlord.name %>
        </td>

        <td>
          <%= a_landlord.neighborhood %>
        </td>

        <td>
          <%= a_landlord.address %>
        </td>

        <td>
          <%= a_landlord.state %>
        </td>

        <td>
          <%= a_landlord.postal_code %>
        </td>

        <td>
          <%= a_landlord.latitude %>
        </td>

        <td>
          <%= a_landlord.longitude %>
        </td>

        <td>
          <%= a_landlord.stars %>
        </td>

        <td>
          <%= a_landlord.review_count %>
        </td>

        <td>
          <%= time_ago_in_words(a_landlord.updated_at) %> ago
        </td>

        <td>
          <a href="/landlords/<%= a_landlord.id %>">
            Show details
          </a>
        </td>
        <td>
          <a href="/delete_landlord/<%= a_landlord.id %>">
            Delete
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>


