<div>
  <div>
    <h1>
      Landlord #<%= @the_landlord.id %> details
    </h1>

    <div>
      <div>
        <a href="/landlords">
          Go back
        </a>
      </div>

      <div>
        <a href="/delete_landlord/<%= @the_landlord.id %>">
          Delete landlord
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Name
      </dt>
      <dd>
        <%= @the_landlord.name %>
      </dd>

      <dt>
        Neighborhood
      </dt>
      <dd>
        <%= @the_landlord.neighborhood %>
      </dd>

      <dt>
        Address
      </dt>
      <dd>
        <%= @the_landlord.address %>
      </dd>

      <dt>
        State
      </dt>
      <dd>
        <%= @the_landlord.state %>
      </dd>

      <dt>
        Postal code
      </dt>
      <dd>
        <%= @the_landlord.postal_code %>
      </dd>

      <dt>
        Latitude
      </dt>
      <dd>
        <%= @the_landlord.latitude %>
      </dd>

      <dt>
        Longitude
      </dt>
      <dd>
        <%= @the_landlord.longitude %>
      </dd>

      <dt>
        Stars
      </dt>
      <dd>
        <%= @the_landlord.stars %>
      </dd>

      <dt>
        Review count
      </dt>
      <dd>
        <%= @the_landlord.review_count %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_landlord.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_landlord.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<hr>

<%# connect reviews for each landlord and put in SHOW %>

<% if @current_user == nil %>

<% else %>
<div>
  <div>
    <h2>
      Edit landlord
    </h2>

    <form action="/modify_landlord/<%= @the_landlord.id %>"  method="post" >
      <div>
        <label for="name_box">
          Name
        </label>

        <input type="text" id="name_box" name="query_name" value="<%= @the_landlord.name %>">
      </div>

      <div>
        <label for="neighborhood_box">
          Neighborhood
        </label>

        <input type="text" id="neighborhood_box" name="query_neighborhood" value="<%= @the_landlord.neighborhood %>">
      </div>

      <div>
        <label for="address_box">
          Address
        </label>

        <input type="text" id="address_box" name="query_address" value="<%= @the_landlord.address %>">
      </div>

      <div>
        <label for="state_box">
          State
        </label>

        <input type="text" id="state_box" name="query_state" value="<%= @the_landlord.state %>">
      </div>

      <div>
        <label for="postal_code_box">
          Postal code
        </label>

        <input type="text" id="postal_code_box" name="query_postal_code" value="<%= @the_landlord.postal_code %>">
      </div>

      <div>
        <label for="latitude_box">
          Latitude
        </label>

        <input type="text" id="latitude_box" name="query_latitude" value="<%= @the_landlord.latitude %>">
      </div>

      <div>
        <label for="longitude_box">
          Longitude
        </label>

        <input type="text" id="longitude_box" name="query_longitude" value="<%= @the_landlord.longitude %>">
      </div>

      <div>
        <label for="stars_box">
          Stars
        </label>

        <input type="text" id="stars_box" name="query_stars" value="<%= @the_landlord.stars %>">
      </div>

      <div>
        <label for="review_count_box">
          Review count
        </label>

        <input type="text" id="review_count_box" name="query_review_count" value="<%= @the_landlord.review_count %>">
      </div>

      <div>
        <label for="reviews_count_box">
          Reviews count
        </label>

        <input type="text" id="reviews_count_box" name="query_reviews_count" value="<%= @the_landlord.reviews_count %>">
      </div>

      <button>
        Update landlord
      </button>
    </form>
  </div>
</div>
<% end %>

<hr>
