<div class="container">
  <div class="card">
  <div class="card-body"
    <div class="card-header">
      <h1 class="card-title">Review #<%= @the_review.id %> details</h1>
    
    <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col-md-8 offset-md-2">
          <div class="d-flex justify-content-between align-items-center">
            <a href="/reviews" class="btn btn-secondary">Go back</a>
            <a href="/delete_review/<%= @the_review.id %>" class="btn btn-danger">Delete review</a>
          </div>
        </div>
      </div>
      <div class="row mt-4">
        <div class="col-md-8 offset-md-2">
          <dl class="row">
            <dt class="col-sm-3 font-weight-bold">Stars</dt>
            <dd class="col-sm-9"><%= @the_review.stars %></dd>
            <dt class="col-sm-3 font-weight-bold">Date of Vacancy</dt>
            <dd class="col-sm-9"><%= @the_review.date_vacancy %></dd>
            <dt class="col-sm-3 font-weight-bold">Date of Occupancy</dt>
            <dd class="col-sm-9"><%= @the_review.date_occupancy %></dd>
            <dt class="col-sm-3 font-weight-bold">Text</dt>
            <dd class="col-sm-9"><%= @the_review.text %></dd>
            <dt class="col-sm-3 font-weight-bold">Useful</dt>
            <dd class="col-sm-9"><%= @the_review.useful %></dd>
           
            <dt class="col-sm-3 font-weight-bold">Landlord</dt>
            <dd class="col-sm-9"><%= @the_review.landlord_id %></dd>
            <dt class="col-sm-3 font-weight-bold">User</dt>
            <dd class="col-sm-9"><%= @the_review.user_id %></dd>
            <dt class="col-sm-3 font-weight-bold">City</dt>
            <dd class="col-sm-9"><%= @the_review.city %></dd>
            <dt class="col-sm-3 font-weight-bold">Updated at</dt>
            <dd class="col-sm-9"><%= time_ago_in_words(@the_review.updated_at) %> ago</dd>
          </dl>
        </div>
      </div>
    </div>
  </div>
</div>


<hr>

<% if @current_user == nil %>

<% else %>

<div class="container">
  <div class="row">
    <div class="col-lg-6 offset-lg-3">
      <div class="card">
        <div class="card-header">
          <h2 class="text-center mb-4">Edit review</h2>
        </div>
        <div class="card-body">
          <form action="/modify_review/<%= @the_review.id %>" method="post">
            <div class="mb-3">
              <label for="stars_box" class="form-label">Stars</label>
              <input type="text" id="stars_box" name="query_stars" value="<%= @the_review.stars %>" class="form-control">
            </div>

        <div class="mb-3">
          <label for="date_box" class="form-label">Date of Vacancy</label>
          <input type="datetime-local" id="date_box" name="query_date_vacancy" value="<%= @the_review.date_vacancy %>" class="form-control">
        </div>

        <div class="mb-3">
          <label for="date_box2" class="form-label">Date of Occupancy</label>
          <input type="datetime-local" id="date_box2" name="query_date_occupancy" value="<%= @the_review.date_occupancy %>" class="form-control">
        </div>

        <div class="mb-3">
          <label for="text_box" class="form-label">Text</label>
          <textarea id="text_box" name="query_text" class="form-control"><%= @the_review.text %></textarea>
        </div>

        <div class="mb-3">
          <label for="useful_box" class="form-label">Useful</label>
          <input type="text" id="useful_box" name="query_useful" value="<%= @the_review.useful %>" class="form-control">
        </div>

       

        <div class="mb-3">
          <label for="landlord_id_box" class="form-label">Landlord</label>
          <input type="text" id="landlord_id_box" name="query_landlord_id" value="<%= @the_review.landlord_id %>" class="form-control">
        </div>

        <div class="mb-3">
          <label for="user_id_box" class="form-label">User</label>
          <input type="text" id="user_id_box" name="query_user_id" value="<%= @the_review.user_id %>" class="form-control">
        </div>

        <div class="mb-3">
          <label for="city_box" class="form-label">City</label>
          <input type="text" id="city_box" name="query_city" value="<%= @the_review.city %>" class="form-control">
        </div>

        <div class="d-grid">
          <button class="btn btn-primary" type="submit">Update review</button>
        </div>
      </form>
    </div>
  </div>
</div>
</div>
</div>
<%= javascript_include_tag 'style.js' %>
<% end %>
<hr>
