<!DOCTYPE html>
<html>
  <head>
  
<title>My Landlord Ratings</title>
<%= csrf_meta_tags %>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

<!-- jQuery, Popper.js, and Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<!-- Expand the number of characters we can use in the document beyond basic ASCII 🎉 -->
<meta charset="utf-8">

<!-- Make it responsive to small screens -->
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<%= csp_meta_tag %>

<%= stylesheet_link_tag 'application', media: 'all' %>

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js" integrity="sha384-qKXV1j0HvMUeCBQ+QVp7JcfGl760yU08IQ+GpUo5hlbpg51QRiuqHAJz8+BrxE/N" crossorigin="anonymous"></script>

  </head>

<body>

  <% if session.fetch(:user_id) == nil %>

<div>
  <nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
      <a class="navbar-brand" href="/"><img src="keyhole.jpg" class="navbar-logo">  </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarColor02">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link" href="/user_sign_in">Sign In</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/user_sign_up">Sign Up</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
          </li>
          <li class="nav-item">
          <a class="nav-link" href="/support">Support</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>

<% else %>

<div>
  <nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
      <a class="navbar-brand" href="/"><img src="keyhole.jpg" class="navbar-logo">  </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarColor02">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/reviews">Profile</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/landlords">Landlords</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/edit_user_profile">Edit Profile</a>
          </li>
          <li class="nav-item">
          <a class="nav-link" href="/support">Support</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/user_sign_out">Sign Out</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>
<% end%>
 

  <% if notice.present? %>
      <div style="border: thin green solid; color: green">
        <%= notice %>
      </div>
    <% end%>

    <% if alert.present? %>
      <div style="border: thin red solid; color: red">
        <%= alert %>
      </div>
    <% end %>
    
  <%= yield %>
  <hr>
  
  <footer id="footer">
		<span class="copyright">&copy; Copyright 2023. All Rights Reserved. Josseph Downs. </a></span>
	</footer>
  
</body>
</html>

<style>
.navbar {
    background-color: #009EDB;
  }
 .navbar-brand {
  height: auto;
  width: auto;
  float: left;
  padding-left: 2%;
  margin: 0 auto;
  padding: 10px 0;
}
.navbar-logo {
  height: 70px; /* Adjust this value according to your navbar height */
  width: auto;
}

.nav-item {
  padding: 0px;
  width: 150px;
  font-size: 20px;
  font-weight: bold;
}

footer {
  position: center;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 20px 0;
}

html,
body {
  height: 100%;
  font-size: 18px;
  line-height: 1.6;
  color: #333333;
  background-color: #f0ece3;
}

.container {
  background-color: #f9f5e7;
}

.btn {
  background-color: #009EDB;
  color: #ffffff;
  padding: 5px 12px;
  font-size: 18px;
  margin: 8px 0;
}

/* Add media queries for responsive design */
@media (max-width: 768px) {
  .nav-item {
    width: auto;
    font-size: 16px;
    
  }

  .btn {
    font-size: 16px;
    padding: 10px 20px;
  }
}

</style>
